<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="bg-secondary-subtle">
    <%- include('./partials/nav.ejs') %>

    <main class="row d-flex flex-column flex-nowrap justify-content-center align-items-center page-body">
      <%- include('./partials/index/cardsIndex.ejs') %>
      <%- include('./partials/index/comingSoon.ejs') %>  
    </main>
    <%- include('./partials/footer.ejs') %>

</body>
</html>